.row {
    display: flex;
}
.resultCell {
    min-width: 200px;
    height: 50px;
    background-color: yellowgreen;
    border: 4px solid white;
}
.tableCell {
    min-width: 200px;
    height: 50px;
    background-color: bisque;
}

table,
th,
td {
    border: 4px solid white;
}

.addBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.addBtn {
    width: 100px;
    padding: 8px;
    margin: 8px;
    height: 50px;
    background-color: yellowgreen;
    border: none;
}

